n8n-workflow-template.json
{
  "name": "Spatial Vision — Object to Sentence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spatial-vision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "spatial-vision"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst objects = body.objects ?? [];\n\nfunction depthPhrase(depth) {\n  const map = {\n    very_near: 'very close to you',\n    near: 'close to you',\n    medium: 'at a medium distance',\n    far: 'far away'\n  };\n  return map[depth] ?? depth;\n}\n\nfunction horizontalPhrase(h) {\n  if (h === 'left') return 'on your left';\n  if (h === 'right') return 'on your right';\n  return 'directly in front of you';\n}\n\nfunction describe(obj) {\n  const name = (obj.display_name || obj.label || 'object').replace(/_/g, ' ');\n  const pos = obj.position || {};\n  return `${name}, ${depthPhrase(pos.depth)}, ${horizontalPhrase(pos.horizontal)}`;\n}\n\nlet spatial_sentence;\n\nif (objects.length === 0) {\n  spatial_sentence = 'I do not see any recognizable objects in front of you.';\n} else if (objects.length === 1) {\n  spatial_sentence = `I see ${describe(objects[0])}.`;\n} else {\n  const parts = objects.slice(0, 5).map(describe);\n  const last = parts.pop();\n  spatial_sentence = `I see ${parts.join('; ')}, and ${last}.`;\n}\n\nreturn [{\n  json: {\n    spatial_sentence,\n    object_count: objects.length,\n    received_at: new Date().toISOString(),\n    source: body.source ?? 'unknown'\n  }\n}];"
      },
      "id": "build-sentence",
      "name": "Build Spatial Sentence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"spatial_sentence\": $json.spatial_sentence, \"object_count\": $json.object_count, \"received_at\": $json.received_at } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Spatial Sentence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Spatial Sentence": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
